body {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1440px;
}
.uselessTitle { display: none }
a {
    color: inherit;
    text-decoration: none;
}
img { max-width: 33% }