@import "../utils/variables";
.footer{
    background-color: $colour-footer;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    &Logo{
        &Img{
            padding-top: 20px;
            max-width: 100px;
            filter: invert(1);
        }
    }
    &Links{
        &Coverts, &Hands{
            color: $colour-white;
            height: 22px;
            width: 22px;
            padding-right: 10px;
        }
    }
    &Links a{
        display: block;
        text-decoration: none;
        font-family: "roboto";
        color: $colour-white;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}