@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
.uselessTitle {
  display: none;
}

.body {
  display: block;
  max-width: 1440px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-family: "roboto";
}
.body > a {
  text-decoration: none;
}
.body > * {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.explore {
  background-color: #fafafa;
  min-height: 240px;
}
.exploreTitle {
  margin-bottom: 0;
}
.exploreText {
  margin-bottom: 20px;
}
.exploreTitle, .exploreText {
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;
  text-align: center;
  padding-top: 20px;
  margin-top: 0;
}
.exploreButton {
  width: 230px;
  height: 55px;
  margin-right: auto;
  margin-left: auto;
  max-width: 220px;
  display: block;
  background: linear-gradient(to bottom right, #e471da, #b361db);
  border-radius: 1.5em;
  border-width: 0;
  color: #fff;
  font-size: medium;
  font-family: "roboto";
}

.explanationsTitle {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;
}
.explanationsStep1Wrapper, .explanationsStep2Wrapper, .explanationsStep3Wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.explanationsStep1, .explanationsStep2, .explanationsStep3 {
  display: block;
  max-width: 400px;
  max-height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fafafa;
  margin-bottom: 20px;
}
.explanationsStep1Step1Number, .explanationsStep1Step2Number, .explanationsStep1Step3Number, .explanationsStep2Step1Number, .explanationsStep2Step2Number, .explanationsStep2Step3Number, .explanationsStep3Step1Number, .explanationsStep3Step2Number, .explanationsStep3Step3Number {
  background-color: #9356dc;
  border-radius: 1px;
  color: #fff;
}

.restaurantsTitle {
  padding-left: 20px;
}
.restaurantsMain {
  display: grid;
  height: 500px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "pos1 pos2" "pos3 pos4";
  width: 100%;
  max-width: 1440px;
}
.restaurantsMainCard {
  border-radius: 1.25rem;
  background-color: white;
  box-shadow: 0 0 14px #0000002E;
  padding: 0px;
  box-sizing: border-box;
  transition-duration: 0.1s;
  cursor: pointer;
}
.restaurantsMainCard1 {
  height: 230px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: auto;
  grid-area: pos1;
}
.restaurantsMainCard2 {
  height: 230px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: auto;
  grid-area: pos2;
}
.restaurantsMainCard3 {
  height: 230px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: auto;
  grid-area: pos3;
}
.restaurantsMainCard4 {
  height: 230px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: auto;
  grid-area: pos4;
}
.restaurantsMainCardFigure {
  object-fit: contain;
  padding-top: 0;
  margin-top: 0;
  border: none;
}
.restaurantsMainCardFigure img {
  height: 100%;
}
.restaurantsMain a {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  background-color: #ffffff;
  margin-bottom: 0;
  margin-top: 0;
  max-height: 50px;
  width: 100px;
}

.search {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(to bottom, #d5d5d5, 20%, #f3f3f3);
  max-height: 50px;
  width: 100%;
}
.searchIcon {
  height: 16px;
  color: black;
  border: none;
}
.searchText {
  font-weight: bold;
  padding-left: 10px;
  font-size: 16px;
  font-family: "roboto";
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.restaurantsMainCardFigure {
  height: 7rem;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}

.restaurantsMainCardTitle {
  margin: 0.25rem 0.75rem 0 0.75rem;
}

.restaurantsMainCardTitle, .restaurantsMainCardDesc {
  font-size: medium;
}

/*# sourceMappingURL=style.css.map */
