@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
.body {
  display: block;
  max-width: 1440px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-family: "roboto";
}

.explore {
  background-color: #fafafa;
  min-height: 240px;
}
.exploreTitle {
  margin-bottom: 0;
}
.exploreText {
  margin-bottom: 20px;
}
.exploreTitle, .exploreText {
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;
  text-align: center;
  padding-top: 20px;
  margin-top: 0;
}
.exploreButton {
  width: 230px;
  height: 55px;
  margin-right: auto;
  margin-left: auto;
  max-width: 220px;
  display: block;
  background: linear-gradient(to bottom right, #e471da, #b361db);
  border-radius: 1.25em;
  border-width: 0;
  color: #fff;
  font-size: medium;
  font-family: "roboto";
}

.explanationsTitle {
  padding-left: 20px;
  max-width: 280px;
}
.explanationsStep1Wrapper, .explanationsStep2Wrapper, .explanationsStep3Wrapper {
  display: flex;
  max-width: 100%;
  position: relative;
}
.explanationsStep1, .explanationsStep2, .explanationsStep3 {
  display: flex;
  width: 380px;
  max-height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fafafa;
  margin-bottom: 20px;
  border-radius: 1.25em;
}
.explanationsStep1Number, .explanationsStep2Number, .explanationsStep3Number {
  align-self: flex-start;
  background-color: #9356dc;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  border: 2px solid #9356dc;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
.explanationsStep1Icon, .explanationsStep2Icon, .explanationsStep3Icon {
  padding-left: 10px;
  padding-right: 10px;
  height: 22px;
  width: 22px;
  color: #7e7e7e;
  padding-top: 20px;
}
.explanationsStep1Text, .explanationsStep2Text, .explanationsStep3Text {
  align-self: center;
  padding-left: 50px;
  width: 220px;
}

.restaurantsTitle {
  padding-left: 20px;
}
.restaurantsMain {
  display: grid;
  height: 1000px;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "pos1" "pos2" "pos3" "pos4";
  width: 335px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}
.restaurantsMainCard {
  border-radius: 1.25rem;
  background-color: white;
  box-shadow: 0 0 14px #0000002E;
  padding: 0px;
  box-sizing: border-box;
  transition-duration: 0.1s;
  cursor: pointer;
}
.restaurantsMainCardTitle {
  text-decoration: none;
  font-family: "roboto";
  font-weight: bold;
  font-size: large;
  padding-left: 10px;
}
.restaurantsMainCardDesc {
  text-decoration: none;
  font-family: "roboto";
  font-size: medium;
  padding-left: 10px;
}
.restaurantsMainCard1, .restaurantsMainCard2, .restaurantsMainCard3, .restaurantsMainCard4 {
  height: 230px;
  margin-bottom: 20px;
}
.restaurantsMainCard1 {
  grid-area: pos1;
}
.restaurantsMainCard2 {
  grid-area: pos2;
}
.restaurantsMainCard3 {
  grid-area: pos3;
}
.restaurantsMainCard4 {
  grid-area: pos4;
}
.restaurantsMainCardFigure {
  object-fit: contain;
  padding-top: 0;
  margin-top: 0;
  border: none;
}
.restaurantsMainCardFigure img {
  height: 100%;
}
.restaurantsMain a {
  width: 100%;
  height: 100%;
}

.header {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: #ffffff;
  margin-bottom: 0;
  margin-top: 0;
  max-height: 50px;
  width: 100px;
  padding-right: 90px;
}

.search {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(to bottom, #d5d5d5, 20%, #f3f3f3);
  max-height: 50px;
  width: 100%;
}
.searchIcon {
  height: 16px;
  color: black;
  border: none;
}
.searchText {
  font-weight: bold;
  padding-left: 10px;
  font-size: 16px;
  font-family: "roboto";
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.footer {
  background-color: #353535;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.footerLogoImg {
  padding-top: 20px;
  max-width: 100px;
  filter: invert(1);
}
.footerLinksCoverts, .footerLinksHands {
  color: #fff;
  height: 22px;
  width: 22px;
  padding-right: 10px;
}
.footerLinks a {
  display: block;
  text-decoration: none;
  font-family: "roboto";
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.restaurantsMainCardFigure {
  height: 7rem;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}

.restaurantsMainCardTitle {
  margin: 0.25rem 0.75rem 0 0.75rem;
}

.restaurantsMainCardTitle, .restaurantsMainCardDesc {
  font-size: medium;
}

/*# sourceMappingURL=style.css.map */
