*, *:visited, *:active{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}
.body, .html{
    height: 100%;
}
.body{
    display: block;
    max-width: 1440px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-family: "roboto";
}
h1{
    font-weight: 600;
    font-size: x-large;
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: unset;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}