.uselessTitle { display: none }
.body{
    display: block;
    max-width: 1440px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-family: "roboto";
    &>a{
        text-decoration: none;
    }
    &>*{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}
.searchText{
    padding-left: 20px;
    font-size: x-large;
    font-family: "roboto";
}