@import "../utils/variables";
.header {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "back" "logo";
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #ffffff;
    margin-bottom: 0;
    margin-top: 0;
    height: 40px;
    width: 100%;
    max-width: 1440px;
    padding-right: 90px;
    padding-top: 20px;
}
.header a{
    display: block;
    grid-area: back;
    position: absolute;
    padding-top: 10px;
    left: 10px;
}
.header img{
    display: block;
    grid-area: logo;
    width: 100px;
    position: absolute;
    left: 60px;
    padding-top: 10px;
}
.main{
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    
    &Img{ 
        height: 270px;
        &Top{
            max-width: 100%;
            height: auto;
            object-fit: cover;
            margin-bottom: 60px;
        }
    }
    &Header{
        &Title{
            padding-left: 10px;
            font-size: large;
            font-weight: bold;
            margin-top: 20px;
            font-family: "roboto";
            margin-bottom: 20px;
        }
    }
    &Header i{
        position: absolute;
        padding-right: 20px;
        padding-top: 20px;
        height: 22px;
        width: 22px;
        left: 180px;
        top: 333px;
    }
    &Starters{
        &Title{
            font-size: medium;
            text-decoration: none;
            color: grey;
            font-family: "roboto";
            font-weight: 100;
            padding-left: 10px;
            margin-bottom: 20px;
        }
        &Title::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 413px;
        }
        &CardWrapper{
            width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
        &Card{
            border-radius: 20px;
            box-shadow: 3px 4px 11px 5px rgb(0 0 0 / 10%);
            cursor: pointer;
            height: 70px;
            background-color: #ffffff;
            overflow: hidden;
            display: grid;
            gap: 20px;
            align-items: center;
            grid-template-columns: 1fr auto auto;
            max-width: 380px;
            margin: 0 20px;
            overflow: hidden;
            &Title{
                font-family: "roboto";
                font-size: medium;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: bold;
                margin: 10px 0;
            }
            &Desc{
                font-family: "roboto";
                font-weight: 200;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 10px 0;
                font-size: small;
            }
            &Price{
                font-family: "roboto";
                font-size: small;
                align-self: end;
                margin: 10px 0;
                font-weight: 600;
            }
            &Check{
                background-color: #99e2d0;
                color: #ffffff;
                height: 100%;
                width: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0 20px 20px 0;
                transition: all 400ms ease-in-out;
                transform: translateX(100%);
            }
        }
    }
} 