.restaurants{
    display: grid;
    grid-template: $grid-square2/$grid-square2;
    &Title{
        display: block;
        grid-area: $grid-title;
        padding-left: 20px;       
    }
    &Main{
        width: 100%;
        max-width: 1440px;
        height: 500px;
        &Card{
            border-radius: 1.25rem;
            background-color: white;
            box-shadow: 0 0 5px #0000002E;
            padding: 0px;
            box-sizing: border-box;
            transition-duration: 0.1s;
            cursor: pointer;
            &1{
                display: block;
                grid-area: $grid-pos1;
            }
            &2{
                display: block;
                grid-area: $grid-pos2;
            }
            &3{
                display: block;
                grid-area: $grid-pos3;
            }
            &4{
                display: block;
                grid-area: $grid-pos4;
            }
            &Figure{
                object-fit: contain;
                max-height: 70%;
                padding-top: 0;
                margin-top: 0;
                border: none;
            }
        }
    }
    &Main a{
        width: 100%;
        height: 100%;
    }
}


