@import "../utils/variables";
.header {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #ffffff;
    margin-bottom: 0;
    margin-top: 0;
    height: 60px;
    width: 100px;
    padding-right: 90px;
    padding-top: 20px;
}
.explore{
    background-color: $colour-xpln-bkgnd;
    min-height: 240px;
    margin-bottom: 20px;
    &Title{ margin-bottom: 0 }
    &Text{ margin-bottom: 20px }
    &Title, &Text{
        margin-left: auto;
        margin-right: auto;
        max-width: 280px;
        text-align: center;
        padding-top: 20px;
        margin-top: 0;
    }
    &Button{
        width: 230px;
        height: 55px;
        margin-right: auto;
        margin-left: auto;
        max-width: 220px;
        display: block;
        background: linear-gradient(to bottom right, $colour-btn-clr, $colour-btn-drk);
        border-radius: 1.25em;
        border-width: 0;
        color: $colour-white;
        font-size: medium;
        font-family: "roboto";
    }
}
.explanations{
    &Title{ 
        padding-left: 20px;
        max-width: 280px;
        margin-bottom: 20px;
    }
    &Step1Wrapper, &Step2Wrapper, &Step3Wrapper{
        display: flex;
        max-width: 100%;
        position: relative;
    }
    &Step1, &Step2, &Step3{
        display: flex;
        width: 380px;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
        background-color: $colour-xpln-bkgnd;
        box-shadow: 0 0 14px #0000002E;
        margin-bottom: 20px;
        border-radius: 1.25em;
        &Number{
            align-self: flex-start;
            background-color: $colour-nmbrs;
            border-radius: 50%;
            height: 22px;
            width: 22px;
            border: 2px solid $colour-nmbrs;
            color: $colour-white;
            text-align: center;
            vertical-align: middle;
            margin-top: 20px;
            position: relative;
            right: 10px;
        }
        &Icon{
            padding-left: 10px;
            padding-right: 10px;
            height: 22px;
            width: 22px;
            color: $colour-xpln-icons;
            text-align: center;
            vertical-align: middle;
            padding-top: 25px;
        }
        &Text{
            align-self: center;
            width: 176px;
            text-align: center;
            vertical-align: middle;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
.restaurants{
    &Title{
        padding-left: 20px;  
        margin-bottom: 20px;     
    }
    &Main{
        display: grid;
        height: 1200px;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "pos1" "pos2" "pos3" "pos4";
        width: 335px;
        margin-right: auto;
        margin-left: auto;
        max-width: 1440px;
        &Card{
            border-radius: 1.25rem;
            background-color: white;
            box-shadow: 0 0 14px #0000002E;
            padding: 0px;
            box-sizing: border-box;
            transition-duration: 0.1s;
            cursor: pointer;
            &Title, &Desc{
                padding-top: 10px;
                text-decoration: none;
                font-family: "roboto", "sans-serif";
                padding-left: 10px;
                color: #000;
            }
            &Title{                
                font-weight: bold;
                font-size: large;
            }
            &Desc{ font-size: medium }
            &Grade{
                position: relative;
                left: 300px;
                bottom: 40px;
                height: 20px;
                width: 20px;
            }
            &1, &2, &3, &4{
                height: 250px; 
                margin-bottom: 20px;
            }
            &1{ grid-area: pos1 }
            &2{ grid-area: pos2 }
            &3{ grid-area: pos3 }
            &4{ grid-area: pos4 }
            &Figure{
                height: 66%;
                width: 100%;
                max-height: 100%;
                max-width: 100%;
                border-radius: 1rem 1rem 0 0;
                object-fit: cover;
            }
            &Figure img{
                height: 100%;
            }
        }
    }
    &Main a{
        width: 100%;
        height: 100%;
    }
}
