@import "../utils/variables";
.explore{
    background-color: $colour-xpln-bkgnd;
    min-height: 240px;
    &Title{ margin-bottom: 0 }
    &Text{ margin-bottom: 20px }
    &Title, &Text{
        margin-left: auto;
        margin-right: auto;
        max-width: 280px;
        text-align: center;
        padding-top: 20px;
        margin-top: 0;
    }
    &Button{
        width: 230px;
        height: 55px;
        margin-right: auto;
        margin-left: auto;
        max-width: 220px;
        display: block;
        background-color: $colour-btn-drk;
        border-radius: 1.5em;
        border-width: 0;
    }
}
.explanations{
    &Title{ 
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 280px;
    }
    &Step1Wrapper, &Step2Wrapper, &Step3Wrapper{
        display: flex;
        flex-direction: row;
        max-width: 100%;
    }
    &Step1, &Step2, &Step3{
        display: block;
        max-width: 400px;
        max-height: 50px;
        margin-left: auto;
        margin-right: auto;
        background-color: $colour-xpln-bkgnd;
        margin-bottom: 20px;
        &Step1Number, &Step2Number, &Step3Number{
            background-color: $colour-nmbrs;
            border-radius: 1px;
            color: $colour-white;
        }
    }
}
.restaurants{
    &Title{
        padding-left: 20px;       
    }
    &Main{
        display: grid;
        height: 500px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "pos1 pos2" "pos3 pos4";
        width: 100%;
        max-width: 1440px;
        &Card{
            border-radius: 1.25rem;
            background-color: white;
            box-shadow: 0 0 14px #0000002E;
            padding: 0px;
            box-sizing: border-box;
            transition-duration: 0.1s;
            cursor: pointer;
            &1{
                height: 230px; 
                margin-bottom: 20px;
                margin-left: 20px;
                margin-right: auto;
                grid-area: pos1;
            }
            &2{
                height: 230px; 
                margin-bottom: 20px;
                margin-left: 20px;
                margin-right: auto;
                grid-area: pos2;
            }
            &3{
                height: 230px; 
                margin-bottom: 20px;
                margin-left: 20px;
                margin-right: auto;
                grid-area: pos3;
            }
            &4{
                height: 230px; 
                margin-bottom: 20px;
                margin-left: 20px;
                margin-right: auto;
                grid-area: pos4;
            }
            &Figure{
                object-fit: contain;
                padding-top: 0;
                margin-top: 0;
                border: none;
            }
            &Figure img{
                height: 100%;
            }
        }
    }
    &Main a{
        width: 100%;
        height: 100%;
    }
}
