@import "../utils/variables";
.main{
    display: block;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    margin-top: 208px;
    padding-top: 16px;
    height: 1350px;
    &Header{
        &Title{
            padding-left: 20px;
            margin-top: 20px;
            font-family: "Shrikhand";
            margin-bottom: 20px;
        }
        &Grade{
            position: absolute;
            padding-right: 20px;
            padding-top: 20px;
            height: 22px;
            width: 22px;
            top: 25px;
            right: 1%;
            transform: scale(1);
            transition: transform 400ms;
        }
        &Grade:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }
    &Starters{
        &Title1::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 111px;
        }
    }
    &Dishes{
        &Title1::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 453px;
        }
    }
    &Desserts{
        &Title1::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 797px;
        }
    }
    &Starters{
        &Title2::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 111px;
        }
    }
    &Dishes{
        &Title2::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 554px;
        }
    }
    &Desserts{
        &Title2::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 898px;
        }
    }
    &Starters{
        &Title3::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 111px;
        }
    }
    &Dishes{
        &Title3::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 453px;
        }
    }
    &Desserts{
        &Title3::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 797px;
        }
    }
    &Starters{
        &Title4::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 111px;
        }
    }
    &Dishes{
        &Title4::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 453px;
        }
    }
    &Desserts{
        &Title4::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 797px;
        }
    }
    &Starters, &Dishes, &Desserts{
        margin-left: auto;
        margin-right: auto;
        max-width: 1440px;
        width: 100%;
        &Title1, &Title2, &Title3, &Title4{
            font-size: medium;
            text-decoration: none;
            color: grey;
            font-family: "roboto";
            font-weight: 100;
            padding-left: 10px;
            margin-bottom: 20px;
        }
        &CardWrapper{
            width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
        &Card{
            border-radius: 20px;
            box-shadow: 0 0 14px #0000002E;
            cursor: pointer;
            height: 70px;
            background-color: #ffffff;
            overflow: hidden;
            display: grid;
            gap: 20px;
            align-items: center;
            grid-template-columns: 1fr auto auto;
            max-width: 380px;
            margin: 0 20px;
            &Title{
                font-family: "roboto";
                font-size: medium;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: bold;
                width: 270px;
                padding-right: 100px;
            }
            &Desc{
                font-family: "roboto";
                font-weight: 200;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: small;
                width: 225px;
                position: relative;
                top: 25px;
                left: -400px;
            }
            &Title, &Desc{
                display: block;
                padding-left: 10px;
                height: 35px;
            }
            &Price{
                display: block;
                font-family: "roboto";
                font-size: small;
                align-self: end;
                font-weight: 600;
                text-align: end;
                position:relative;
                bottom: 25px;
                padding-right: 35px;
            }
            &Check{
                background-color: #99e2d0;
                color: #ffffff;
                height: 100%;
                width: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0 20px 20px 0;
                transition: all 400ms ease-in-out;
                transform: translateX(100%);
                transform-origin: right;
            }
            &Check:active{
                transform: translateX(0%);
            }
        }
        &Card:hover{
            cursor: pointer;
            filter: brightness(1.25);
            box-shadow: 0 0 25px #0000003E;
        }
    }
    &Command{
        margin-top: 20px;
        margin-bottom: 100px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        &Button{
            width: 190px;
            height: 55px;
            margin-right: auto;
            margin-left: auto;
            max-width: 220px;
            display: block;
            background: linear-gradient(to bottom right, $colour-btn-clr, $colour-btn-drk);
            border-radius: 2em;
            border-width: 0;
            color: $colour-white;
            font-size: medium;
            font-family: "roboto";
            box-shadow: 0 0 14px #0000002E;
            filter: brightness(1);
            transition: all 400ms ease-in-out;
        }
        &Button:hover{
            cursor: pointer;
            filter: brightness(1.25);
            box-shadow: 0 0 25px #0000003E;
        }
    }
} 
@media screen and (min-width: 375px) and (max-width: 425px){
    .main{
        &Starters, &Dishes, &Desserts{
            &Card{
                &Desc{
                    width: 245px;
                }
            }
        }
    }
}
@media screen and (min-width: 426px) and (max-width: 720px){
    .main{
        &Starters, &Dishes, &Desserts{
            &Card{
                max-width: 730px;
                &Desc{
                    left: -400px;
                    width: 250px;
                }
            }
        }
    }
}
@media screen and (min-width: 721px) and (max-width: 768px){
    .main{
        &Starters, &Dishes, &Desserts{
            &Card{
                max-width: 730px;
                &Desc{                    
                    left: -400px; //problème: à partir de 721px se décale vers la droite quand on agrandit la largeur de l'écran
                    width: 250px;
                }
            }
        }
    }
}