@import "../utils/variables";
.main, .main2{
    display: block;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    margin-top: 208px;
    padding-top: 16px;
    height: 1650px;
    &Header{
        &Title{
            padding-left: 20px;
            margin-top: 20px;
            font-family: "Shrikhand";
            margin-bottom: 20px;
        }
        &Grade{
            position: relative;
            top: -45px;
            left: 90%;
            transition: transform 400ms ease-out; 
            overflow: hidden;
            width: 24px;
            height: 24px;
            &:hover, &:focus{
                cursor: pointer;
                .mainHeaderGradeFull{
                    opacity: 1;
                    .mainHeaderGradeHeartFull{
                        color: transparent;
                    }
                    .mainHeaderGradeEmpty{
                        opacity: 0;
                    }
                }
            }
            &Heart{
                position: absolute;
                cursor: pointer;
				z-index: 2;
		        font-size: 22px;
		        opacity: 1;
		        transition: opacity 3000ms ease-in-out;
                &Full{
                    z-index: 1;
                    transition: opacity 400ms 100ms;
                    position: relative;
                    top: 0px;
                    right: 0px;
                    background-image: linear-gradient(170deg, $colour-heart-bot 0%, $colour-heart-top 100%);
		            background-clip: text;
                    -webkit-background-clip: text;
                    transition: color 400ms 100ms ease-in-out;
                    font-size: 22px;
                    color: #f6f6f6;
		            overflow: hidden;
                }
            }
        }
    }
    &Starters{
        &Title1::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 22px;
        }
    }
    &Dishes{
        &Title1::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 22px;
        }
    }
    &Desserts{
        &Title1::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 22px;
        }
    }
    &Starters{
        &Title2::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 22px;
        }
    }
    &Dishes{
        &Title2::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 22px;
        }
    }
    &Desserts{
        &Title2::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 22px;
        }
    }
    &Starters{
        &Title3::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 22px;
        }
    }
    &Dishes{
        &Title3::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 22px;
        }
    }
    &Desserts{
        &Title3::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 22px;
        }
    }
    &Starters{
        &Title4::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 22px;
        }
    }
    &Dishes{
        &Title4::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 22px;
        }
    }
    &Desserts{
        &Title4::before{
            content: "";
            position: absolute;
            width: 40px;
            border-bottom: 2px solid #99e2d0;
            top: 22px;
        }
    }
    &Starters, &Dishes, &Desserts{
        margin-left: auto;
        margin-right: auto;
        max-width: 1440px;
        width: 100%;
        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                animation-delay: $i * 400ms;
            }
        }
        animation: menuAnimation 800ms ease-out forwards;
	    opacity: 0;
        &Title1, &Title2, &Title3, &Title4{
            font-size: medium;
            text-decoration: none;
            color: grey;
            font-family: "roboto";
            font-weight: 100;
            padding-left: 10px;
            margin-bottom: 20px;
        }
        &CardWrapper{
            width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            &2{
                display: grid;
                grid-template-columns: repeat(auto-fit, 100%);
                gap: 10px; 
                margin-left: 20px;
                margin-right: 20px;              
                .mainStartersCard, .mainDishesCard, .mainDessertsCard{
                    position: relative;
                    height: 70px;
                    background-color: $colour-white;
                    overflow: hidden;
                    box-shadow: 0 0 14px #0000002E;  
                    border-radius: 20px;
                    margin-bottom: 50px;
                    &:hover, &:focus{
                        box-shadow: 0 0 16px #0000003E;
                        cursor: pointer;
                        filter: brightness(1.25);
                        .mainStartersCardCheckWrapper, .mainDishesCardCheckWrapper, .mainDessertsCardCheckWrapper{
                            filter: brightness(0.80);
                            transform: translate3d(0, 0, 0);
                            opacity: 1;                       
                            .mainStartersCardCheck, .mainDishesCardCheck, .mainDessertsCardCheck{
                                transform: translate3d(25%, 0, 0);
                                opacity: 1;
                                transition: all 400ms 100ms ease;
                                &Icon{
                                    animation: spin 600ms 400ms;
                                    opacity: 1;
                                }
                            }
                        }
                        .mainStartersCardPrice, .mainDishesCardPrice, .mainDessertsCardPrice{
                            right: 25%;
                        }
                        .mainStartersCardTitle, .mainDishesCardTitle, .mainDessertsCardTitle{
                            transform: translate3d(0, 0, 0);
                            max-width: 74%;
                            text-overflow: ellipsis;
                        }
                        .mainStartersCardDesc, .mainDishesCardDesc, .mainDessertsCardDesc{
                            max-width: 55%;
                            text-overflow: ellipsis;
                        }
                    }
                    &Title{
                        padding: 10px;
                        font-family: "Roboto", sans-serif;
                        font-size: medium;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        font-weight: bold;
                        transition: transform 300ms;
                        transform: translate3d(0, 0, 0);
                        max-width: 90%;
                        transition: max-width 400ms 400ms;
                    }
                    &Desc{
                        font-family: "roboto";
                        font-weight: 200;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        font-size: small;
                        max-width: 74%;
                        position: absolute;
                        z-index: 1;
                        padding-left: 10px;
                        max-height: 15px;
                        transition: max-width 400ms 400ms;
                    }
                    &Price{
                        display: block;
                        font-family: "roboto";
                        font-size: small;
                        font-weight: 600;
                        padding-right: 20px;
                        margin-left: auto;
                        margin-top: auto;
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                        width: 20px;
                        z-index: 1;
                        transition: right 400ms 400ms;
                        &:not(:focus), &:not(:hover){
                            right: 10px;
                        }
                    }
                    &CheckWrapper{
                        display: flex;
                        overflow: hidden;
                        flex-direction: row-reverse;
                        justify-content: center;
                        height: 100%;
                        position: absolute;
                        width: 25%;
                        top: 0;
                        right:0;
                        transition: opacity 500ms 100ms;
                        transition: transform 800ms 200ms ease;
                        transform: translateX(100%);
                        background-color: $colour-bannew;
                        z-index: 2;
                        &:not(:focus), &:not(:hover){
                            transform: translate3d(100%, 0, 0);
                        }
                    }
                    &Check{
                        flex-grow: 1;
                        padding: 1rem;
                        opacity: 1;
                        transition: opacity 500ms 100ms;
                        transition: transform 800ms 200ms ease;
                        transform: translateX(100%);
                        background-color: $colour-bannew;
                        z-index: 3;
                        &:not(:hover), &:not(:focus){
                            transform: translate3d(100%, 0, 0);
                        }
                        &Icon{
                            font-size: 1.5rem;
                            transition: transform 800ms 100ms ease;
                            transition: opacity 500ms;
                            z-index: 4;
                            color: $colour-white;
                            opacity: 1;
                            margin-top: 5px;
                            &:not(:hover), &:not(:focus){
                                transform: translate3d(0, 0, 0);
                            }
                        }           
                    } 
                }
            }    
        }
    }
    &Command{
        margin-top: 20px;
        margin-bottom: 50px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        &Button{
            width: 190px;
            height: 55px;
            margin-right: auto;
            margin-left: auto;
            max-width: 220px;
            display: block;
            background: linear-gradient(to bottom right, $colour-btn-clr, $colour-btn-drk);
            border-radius: 2em;
            border-width: 0;
            color: $colour-white;
            font-size: medium;
            font-family: "roboto";
            box-shadow: 0 0 14px #0000002E;
            filter: brightness(1);
            transition: all 400ms ease-in-out;
        }
        &Button:hover{
            cursor: pointer;
            filter: brightness(1.25);
            box-shadow: 0 0 25px #0000003E;
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 425px){
    .main, .main2{
        &Menu{
            .mainStarters, .mainDishes, .mainDesserts{
                &CardWrapper{
                    &2{
                        .mainStartersCard, .mainDishesCard, .mainDessertsCard{
                            &:hover, &:focus{
                                .mainStartersCardCheck, .mainDishesCardCheck, .mainDessertsCardCheck{
                                    transform: translate3d(10%, 0, 0);
                                }
                            }
                        }   
                    }
                }
            }
        }
    }
    .main{ height: 1500px }
    .main2{ height: 1600px }
    .main{
        &Header{
            &Grade{ left: 85% }
        }
    }    
}
@media screen and (min-width: 426px) and (max-width: 768px){
    .main{ height: 1500px }
    .main, .main2{
        &Starters, &Dishes, &Desserts{
            &CardWrapper{
                &2{
                    .mainStartersCard, .mainDishesCard, .mainDessertsCard{
                        &CheckWrapper{
                            width: 20%;
                        }
                        &Check{
                            padding-right: 75px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 769px) and (max-width: 2560px){
    @media screen and (min-width: 769px) and (max-width: 1023px){
        .main{
            &Menu{
                .mainStarters, .mainDishes, .mainDesserts{
                    &CardWrapper{
                        &2{
                            .mainStartersCard, .mainDishesCard, .mainDessertsCard{
                                &Check{
                                    padding-right: 75px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1439px){
        .main{
            &Header{
                &Grade{ left: 93% }
            }
            &Menu{
                .mainStarters, .mainDishes, .mainDesserts{
                    &CardWrapper{
                        &2{
                            .mainStartersCard, .mainDishesCard, .mainDessertsCard{
                                &Check{ 
                                    padding-left: 24%;
                                }
                                &:hover, &:focus{
                                    .mainStartersCardCheck, .mainDishesCardCheck, .mainDessertsCardCheck{
                                        transform: translate3d(10%, 0, 0);
                                    }
                                }
                            }   
                        }
                    }
                }
            }
        }    
    }
    @media screen and (min-width: 1440px){
        .main{
            &Header{
                &Grade{ left: 95% }
            }
        }
    }
    .main, .main2{
        &Menu{
            display: grid;
            align-items: center;
	        grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: "starters dishes desserts";
            align-items: baseline;
        }
        &Starters{
            grid-area: starters;
        }
        &Dishes{
            grid-area: dishes;
        }
        &Desserts{
            grid-area: desserts;
        }
        &Starters, &Dishes, &Desserts{ width: 90% }
    }
    .main{ height: 730px }
    .main2{ height: 830px }
    .main2{
        .mainMenu{
            .mainDishes, .mainDesserts{ margin-top: -140px }
        }
    }
}
@keyframes menuAnimation{
    0% {
	    transform: translateY(100%);
	    opacity: 0;
    }
    100% {
	    transform: translateY(0);
	    opacity: 1;
    }
}
@keyframes fillin{
    0%{ 
        background: #f6f6f6;
    }
    100%{
        background: linear-gradient(170deg, $colour-heart-bot 0%, $colour-heart-top 100%);
    }
}
@keyframes spin{
    0%{
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(0);
    }
}