@import "../utils/variables";
.explore{
    background-color: $colour-xpln-bkgnd;
    min-height: 240px;
    margin-bottom: 20px;
    &Title{ margin-bottom: 0 }
    &Text{ margin-bottom: 20px }
    &Title, &Text{
        margin-left: auto;
        margin-right: auto;
        max-width: 280px;
        text-align: center;
        padding-top: 20px;
        margin-top: 0;
    }
    &Button{
        width: 230px;
        height: 55px;
        margin-right: auto;
        margin-left: auto;
        max-width: 220px;
        display: block;
        background: linear-gradient(to bottom right, $colour-btn-clr, $colour-btn-drk);
        border-radius: 1.25em;
        border-width: 0;
        color: $colour-white;
        font-size: medium;
        font-family: "roboto";
        box-shadow: 0 0 14px #0000002E;
        filter: brightness(1);
        transition: all 400ms ease-in-out;
    }
    &Button:hover{
        cursor: pointer;
        filter: brightness(1.25);
        box-shadow: 0 0 25px #0000003E;
    }
}
.main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.explanations{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    &Title{ 
        padding-left: 20px;
        max-width: 280px;
        margin-bottom: 20px;
    }
    &Step1Wrapper, &Step2Wrapper, &Step3Wrapper{
        display: flex;
        max-width: 100%;
        position: relative;
    }
    &Step1, &Step2, &Step3{
        display: flex;
        width: 90%;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
        background-color: $colour-xpln-bkgnd;
        box-shadow: 0 0 14px #0000002E;
        margin-bottom: 20px;
        border-radius: 1.25em;
        transition: all 400ms ease-in-out;
        &Number{
            align-self: flex-start;
            background-color: $colour-nmbrs;
            border-radius: 50%;
            height: 22px;
            width: 22px;
            border: 2px solid $colour-nmbrs;
            color: $colour-white;
            text-align: center;
            vertical-align: middle;
            margin-top: 20px;
            position: relative;
            right: 10px;
        }
        &Icon{
            padding-left: 10px;
            padding-right: 10px;
            height: 22px;
            width: 22px;
            color: $colour-xpln-icons;
            text-align: center;
            vertical-align: middle;
            padding-top: 25px;
        }
        &Text{
            align-self: center;
            width: 176px;
            text-align: center;
            vertical-align: middle;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &Step1:hover, &Step2:hover, &Step3:hover{
        cursor: pointer;
        background-color: $colour-xpln-hover;
        box-shadow: 0 0 25px #0000003E;
    }
}
.restaurants{
    background-color: $colour-xpln-bkgnd;
    &Title{
        padding-top: 20px;
        padding-left: 20px;  
        margin-bottom: 20px;     
    }
    &Main{
        display: grid;
        height: 1200px;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "pos1" "pos2" "pos3" "pos4";
        width: 300px;
        margin-right: auto;
        margin-left: auto;
        max-width: 1440px;
        &Card{
            display: block;
            text-decoration: none;
            border-radius: 1.25rem;
            background-color: white;
            box-shadow: 0 0 14px #0000002E;
            padding: 0px;
            box-sizing: border-box;
            transition-duration: 0.1s;
            cursor: pointer;
            height: 250px;          
            &1{ grid-area: pos1 }
            &2{ grid-area: pos2 }
            &3{ grid-area: pos3 }
            &4{ grid-area: pos4 }
            &Figure{
                height: 165px;
                width: 100%;
                max-height: 100%;
                max-width: 100%;
                border-radius: 1rem 1rem 0 0;
                object-fit: cover;
            }
            &Figure img{
                height: 100%;
            }
            &Infos{
                height: 85px;
                &Title, &Desc{
                    padding-top: 10px;
                    display: block;
                    text-decoration: none;
                    font-family: "roboto", "sans-serif";
                    padding-left: 10px;
                    color: #000;
                }
                &Title{
                    font-weight: bold;
                    font-size: large;
                }
                &Desc{ font-size: medium }
            }
            &Grade{
                padding-right: 10px;
                margin-right: 10px;
                margin-left: auto;
                margin-top: auto;
                position: relative;
                bottom: 60px;
                height: 20px;
                width: 20px;
            }
            &New{
                background-color: $colour-bannew;
                color: $colour-bannew-txt;
                width: 80px;
                font-family: "roboto";
                font-weight: bold;
                font-size: medium;
                display: block;
                text-decoration: none;
                padding-right: 10px;
                margin-right: 10px;
                margin-left: auto;
                margin-top: auto;
                position: relative;
                bottom: 260px;
            }
            &New>p{
                text-align: center;
                text-decoration: none;
                padding-left: 10px;
            }
        }
        &Card a{
            display: block;
            height: 250px;
            width: 100%;
            border-radius: 1.25em;
            filter: brightness(1);
            transition: all 400ms ease-in-out;
        }
        &Card a:hover{
            filter: brightness(1.25);
            box-shadow: 0 0 25px #0000003E;
        }
    }
}
@media screen and (min-width: 375px) and (max-width: 425px){
    .explanations{
        &Title{
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            width: 180px;
        }
    }
    .restaurants{
        &Title{
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            width: 150px;
        }
        &Main{
            width: 350px;
        }
    }
}
@media screen and (min-width: 426px) and (max-width: 768px){
    .explanations{
        &Title{
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            width: 180px;
        }
    }
    .restaurants{
        &Title{
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            width: 150px;
        }
        &Main{
            width: auto;
            margin-left: 25px;
            margin-right: 25px;
        }
    }
}