//colours//

$colour-primary: #000;
$colour-secondary: #f6f6f6;
$colour-white: #fff;
$colour-btn-clr: #e471da;
$colour-btn-drk: #b361db;
$colour-nmbrs: #9356dc;
$colour-bannew: #99e2d0;
$colour-bannew-txt: #008766;
$colour-heart-top: #b361db;
$colour-heart-bot: #e471da;
$colour-footer: #353535;
$colour-location-top: #d5d5d5;
$colour-location-bot: #f3f3f3;
$colour-xpln-hover: #f5edff;
$colour-xpln-icons: #7e7e7e;
$colour-xpln-bkgnd: #fafafa;