//colours//

$colour-primary: #000;
$colour-secondary: #f6f6f6;
$colour-white: #fff;
$colour-btn-clr: #8c5687;
$colour-btn-drk: #ae5fdb;
$colour-nmbrs: #9356dc;
$colour-bannew: #99e2d0;
$colour-bannew-txt: #008766;
$colour-heart-top: #b361db;
$colour-heart-bot: #e471da;
$colour-footer: #353535;
$colour-location: #eaeaea;
$colour-xpln-hover: #f5edff;
$colour-xpln-icons: #7e7e7e;